*
{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  
}


#mainn
{
  background-image: url(/public/images/logbackground/background.PNG);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.loginpp
{
  
  position: relative;
  margin-left: -300px;
}
.addico{
  font-size: large;
}
.formm
{
display: flex;
justify-content: center;
align-items: center;
width: 36vw;
height: 80vh;
padding: 15%;
border-radius: 20px;
-webkit-backdrop-filter: blur(6.2px);
backdrop-filter: blur(6.2px);
background: rgba(255, 255, 255, 0.3);
border: 1px solid rgba(255, 255, 255, 0.24);
}
#formcl
{
  width: 30vw;
  height: 60vh;
}

.siginc
{
  display: flex;
  width: auto;
  margin-left: -135px;
}
.siginpp
{
   display: flex;
   position: fixed;
  margin-left: -374px;
}


.gg-user {
    display: block;
    transform: scale(var(--ggs,1));
    box-sizing: border-box;
    width: 12px;
    height: 18px
}
.gg-user::after,
.gg-user::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 3px solid
}
.gg-user::before {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: -9.5vh;
    left: 2px
}
.gg-user::after {
    width: 33px;
    height: 30px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: -5vh
}
.formmsignin
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 80vh;
  padding: 15%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(6.2px);
  backdrop-filter: blur(6.2px);
  background: rgba(247, 244, 244, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.24);
  
}
#testtd
{
  display: block;
  width: 15vw;
}
.addd
{
  margin-top: 3vh;
  margin-left: 45%;
}
.add
{
  margin-top: -8vh;
}
/* -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  
  
}

li {
  list-style: none;
}

.btn {
  background: #f05462;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
.btn:hover {
  color: #a78fff;
  background: white;
  padding: 3px 8px;
  border: 2px solid #f05462;
}

table {
  padding: 10px;
  

}
#tg{
  height: 68vh;
  overflow-y: scroll;
}
th,
td {
  text-align: left;
  padding: 8px;
}

.side-menu {
  display: flex;
  justify-content: start;
  background: #101553;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding-top: 10vw;

}

.side-menu li {
  display: flex;
  margin-top: 1.5vh;
  font-size: 24px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  
}

.dlst{
  margin-bottom: 40vh;
  margin-right: 2.5vw;
  width: 12vw;
  height: 30vh;
  position: fixed;
}
.side-menu li:hover {
  background-color: rgb(255, 255, 255);
  color: #303030;
  border-radius: 12px ;

}
/* --------------------------------- */
.parentdiva{
  padding: 2vh;
  margin-top: 1vh;
  margin-left: 0vw;
  display: flex;
  justify-content: space-between;
  background-color: #ff279300;
  width: 33vw;
  height: 15vh;
  
}
.info
 {
  display: flex;
  align-items: center;
  width: 12vw;
  height: 10vh;
  background-color: #101553;
  margin-top: 10vh;
  color: aliceblue;
  border-radius: 10px;
  padding-left: 1vw;
  font-size: large;
}
.pdaaa{
  position: absolute;
  width: 84vw;
  height: 96vh;
  background-color: #dcdcdc;
  margin-left: 13.5vw;
  margin-top: -97vh;
  border-radius: 20px;
}

.parentdivb
{
  display: flex;
  flex-direction: row;
  /* background-color: #ec7777; */
  width: 83.5vw;
  height: 77vh;
  padding: 2vh;
  margin-top: 2vh;
  margin-left: vw;
}

.coursepanela
{
  width: 64vw;
  height: 67vh;
  background-color: white;
  border-radius: 1vh 1vw;
  margin-top: 7vh;
  margin-right: 1vw;
  padding-left: 2vw;
  padding-top: 2vh;
  box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.coursepanelb
{
  width: 25vw;
  height: 67vh;
  background-color: white;
  border-radius: 1vh 1vw;
  margin-top: 7vh;
  padding-left: 2vw;
  padding-top: 2vh;
  box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/* -------------------------------- */
.pdaaaa{
  position: absolute;
  width: 84vw;
  height: 96vh;
  background-color: #dcdcdc;
  margin-left: 13.5vw;
  margin-top: -97vh;
  border-radius: 20px;
}
.allstuparentdiva{
  padding: 2vh;
  margin-top: 10vh;
  margin-left: 0vw;
  display: flex;
  justify-content: start;
  /* background-color: #3cff00; */
  width: 30vw;
  height: 14vh;
}
.divt
{
  padding: 2vh;
  margin-top: 30vh;
  margin-left: 2vw;
  display: flex;
  justify-content: start;
  background-color: #f05462;

}
.allstuchilddiva
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    background-color: #32066b;
    color: aliceblue;
    border-radius: 1vh 1vw;
    font-size: large;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.allstuparentdivb{
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  width: 83.5vw;
  height: 70vh;
  padding-left: 2vh;
  padding-top: 1vh;
  margin-top: -3vh;
  margin-left: 0vw;
}
.allstuchilddivb
{
  width: 83vw;
  height: 71vh;
  background-color: white;
  border-radius: 1vh 1vw;
  padding-left: 1%;
  padding-top: 0;
  box-shadow: 0 01px 0px 0 rgb(9, 7, 100), 0 8px 10px 0 rgba(0, 0, 0, 0.8);
}
#stuformR{
  display: block;
  justify-content: center;
  width: 30vw;
  height: 70vh;
}
.stupe
{
  margin-left: 30vw;
  height: 65vh;
  width: 15vw;
  background-color: #570210;
  position: absolute;
  align-items: center;
}